@font-face {
  font-family: Road Rage;
  src: url("media/Road_Rage.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Road Rage', sans-serif;
  line-height: 3;
  user-select: none;
  color: #fff;
}

h1 {
  font-size: 72px;
  line-height: 1.2;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vid video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.vid:after {
  content: '';
  z-index: -5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.content {
  z-index: 5;
  outline: none;
  box-shadow: none;
  border-color: inherit;
}

.text {
  /* Change this to 20px with h2 present */
  margin-top: -160px;
  animation: glow .09s ease-in-out infinite alternate;
}

.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials i {
  /* Change this 30px with h2 present */
  margin-top: 30px;
  padding: 10px;
  font-size: 3rem;
  color: hotpink;
  transform: scale(0.9);
}

.socials i:hover {
  transform: scale(1.2);
}

@keyframes glow {
  from {
    text-shadow:
      0 0 6px rgba(202, 228, 225, 0.9),
      0 0 30px rgba(202, 228, 225, 0.34),
      0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92),
      0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.9);
  }

  to {
    text-shadow:
      0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42),
      0 0 12px rgba(30, 132, 242, 0.58),
      0 0 23px rgba(30, 132, 242, 0.84),
      0 0 39px rgba(30, 132, 242, 0.88),
      0 0 62px rgba(30, 132, 242, 1);
  }
}